# Python / Environment
.venv/
__pycache__/
*.py[ocd]
*$py.class
*.so

# Data and Models (Keep the repo light)
data/raw/
data/processed/
models/*.joblib
models/*.pth
models/*.onnx

# Windows-Specific Junk
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# macOS-Specific Junk
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/